body{
	background-color:#bfbfbf;
	border-style:ridge;
	border-width:25px;
	border-color:#b30000;
	font-family:sans-serif;
}

h1{
	font-size:40px;
}

.ranks{
	border:5px solid #b30000;
	border-radius:5px;
	margin:15px;
}

#iranks{
	font-size:25px;
}

#orank{
	font-size:35px;
}

#content{
	font-size:25px;
	border:5px solid #b30000;
	border-radius:5px;
	margin:15px;
}

#content p{
	margin:15px;
}